/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: 1px solid #e5e8eb;
}

.logo img {
  height: 40px;
}

nav {
  margin-left: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}

nav ul li a:hover {
  color: var(--magenta-hover);
  border-bottom: 1px solid currentColor;
}

.btn {
  background-color: var(--magenta);
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 1.2rem;
  font-weight: 600;
}

.btn-entrar {
  margin-left: 7rem;
  color: #fff;
}

.btn-entrar:hover {
  background-color: var(--magenta-hover);
}

#btn-lateral:hover {
  background-color: var(--magenta-hover);
}

/* Botão hamburguer visível apenas no mobile */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

/* Menu lateral (side-menu) */
.side-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.15);
  transition: right 0.3s ease-in-out;
  padding: 2rem 1rem;
  z-index: 1000;
}

/* Ativa o menu */
.side-menu.open {
  right: 0;
}

/* Botão para fechar */
.side-menu .close-menu {
  font-size: 3rem;
  background: none;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: 1.5rem;
  cursor: pointer;
}

/* Lista de links do menu lateral */
.side-menu ul {
  list-style: none;
  padding: 1rem;
}

.side-menu ul li {
  margin: 2rem 2rem;
}

.side-menu ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.6rem;
}

.side-menu ul li a:hover {
  color: var(--magenta-hover);
}

/* Botão "Entrar" dentro do menu lateral */
.side-menu #btn-lateral {
  margin-left: 3rem;
}

.side-menu #btn-lateral:hover {
  background-color: var(--magenta-hover);
}

header .sobre {
  color: var(--magenta);
}

/* sobre */
main .Sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 7rem;
  gap: 2.5rem;
  padding: 0 4rem;
  text-align: center;
}

main .Sobre h1 {
  font-size: 4.8rem;
  font-weight: 800;
  color: var(--azul-petroleo);
}

main .Sobre p {
  font-size: 1.6rem;
  font-weight: 400;
  max-width: 90rem;
}

main .missao-impacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  background-color: #f2f2f5;
  padding: 7rem 4rem;
}

main .missao-impacto .texto {
  flex: 1 1 300px;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  justify-content: center;
}

main .missao-impacto .texto h2 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--azul-petroleo);
}

main .missao-impacto .texto p {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: justify;
}

main .missao-impacto .texto div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

main .missao-impacto figure img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}

.publico-alvo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 4rem;
  background-color: var(--azul-petroleo);
  gap: 7.2rem;
  text-align: center;
}

.publico-alvo h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.publico-alvo div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5.5rem;
}

.publico-alvo div article {
  flex: 1 1 250px;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f5;
  padding: 3rem;
  gap: 2rem;
  border-radius: 1rem;
}

.publico-alvo div article h3 {
  font-size: 2rem;
  font-weight: 700;
}

.publico-alvo div article p {
  font-size: 1.6rem;
  font-weight: 400;
}

.indicadores {
  background-color: #f2f2f5;
  margin-bottom: 7rem;
  padding: 0 4rem;
}

.indicadores ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  list-style: none;
  padding: 9rem 0rem;
  margin: 0;
}

.indicadores ul li {
  flex: 1 1 250px;
  max-width: 37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 4.8rem 7rem;
  gap: 2rem;
  border-radius: 1.2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.indicadores ul li strong {
  font-size: 4.8rem;
  font-weight: 700;
}

.indicadores ul li span {
  font-size: 2rem;
  font-weight: 500;
}

/* Footer */
footer {
  padding: 2rem 4rem;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-bottom: 3rem;
}

.footer-links a,
footer p {
  text-decoration: none;
  color: #6b7582;
  font-size: 1.6rem;
}

/* Responsividade */
@media (max-width: 768px) {
  main .Sobre h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: var(--azul-petroleo);
  }

  .btn-entrar {
    margin-left: 2rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.3rem;
  }

  nav ul {
    gap: 1.5rem;
  }

  main .sobre h1 {
    font-size: 3.2rem;
  }

  .publico-alvo div {
    gap: 3rem;
  }

  .indicadores ul li {
    padding: 3rem 2rem;
  }

  .logo img {
    height: 25px;
  }
  .footer-links {
    gap: 4rem;
  }
  .projetos-destaque {
    padding: 8rem 8rem;
  }
  nav {
    display: none;
  }
  nav,
  .btn-entrar {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
  #btn-lateral {
    margin-left: 3rem;
  }
  .btn-entrar {
    margin-left: 0;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
  }
}
